{{ define "main" }}

<div class="blog-title">
    <h2 class="header-title">Blog           </h2>
</div>

<div class="container">
    
    {{ $entryyear := now.Year }}
    <div class="entry-year">
        <h2><span>{{ now.Year }}</span></h2>
    </div>
    {{ $pages := .Site.RegularPages }}
    {{ $paginator := .Paginate ($pages) }}
    {{ range $paginator.Pages }}
        {{ $title := .Title }}
        {{ $summary := .Summary }}
        
        {{ if ne .PublishDate.Year $entryyear }}
            <div class="entry-year">
                <h2><span>{{ .PublishDate.Year }}</span></h2>
            </div>
            {{ $entryyear := .PublishDate.Year }}
        {{ end }}

        <div class="entry">
            <a href="{{ .RelPermalink }}">
                <p class="post-title txt">
                    {{ $title }}
                </p>
                
                <p class="post-date">
                    {{ i18n "publishDate" . }}
                </p>
            </a>
            {{ if ne .Site.Params.hiddenPostSummaryInHomePage true }}
              <div class="summary">{{ $summary | plainify | htmlUnescape }}</div>
            {{ end }}
        </div>
    {{ end }}

    {{ if or ($paginator.HasPrev) ($paginator.HasNext) }}
        <div class="pagination">
          {{ if $paginator.HasPrev }}
              <span class="prev">
                  <a href="{{.Paginator.Prev.URL}}">
                      <span class="arrow">←</span> {{ with .Site.Params.newerPosts }}{{ . }}{{ else }}{{ i18n "postsNewer" }}{{ end }}
                  </a>
            </span>
          {{ end }}
          
          {{ if $paginator.HasNext }}
              <span class="next">
                  <a href="{{.Paginator.Next.URL}}">
                      {{ with .Site.Params.olderPosts }}{{ . }}{{ else }}{{ i18n "postsOlder" }}{{ end }} <span class="arrow">→</span>
                  </a>
              </span>
          {{ end }}
        </div>
    {{ end }}


</div>
{{ end }}
